<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 52%">Title</th>
      <th style="width: 12%">Upvotes</th>
      <th style="width: 12%">Comments</th>
      <th style="width: 12%">Read</th>
      <th style="width: 12%">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr class="item_<%= item.id %>">
        <td style="vertical-align: middle;"><a href="<%= item.url %>" target="_blank"><%= item.title %></a></td>
        <td class="text-center"><a class="btn" href="<%= item.hacker_url%>" target="_blank"><%= item.upvotes %></a></td>
        <td class="text-center"><a class="btn" href="<%= item.hacker_url%>" target="_blank"><%= item.comments %></a></td>
        <td>
           <%- is_read = (item.ai_read.present? && [1, true].include?(item.ai_read)) %>
            <a class="btn userActionInvoker classRead <%= "disabled" if is_read %>" data-user-action="read" data-item-id="<%= item.id %>"><span class="glyphicon glyphicon-ok"></span> <%= is_read ? "Read" : "Mark as read" %></a>
        </td>
        <td><a class="btn userActionInvoker classDelete" data-user-action="delete" data-item-id="<%= item.id %>"><span class="glyphicon glyphicon-trash"></span></span> Mark Delete</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

$(".userActionInvoker").on('click', function(event){
  event.preventDefault();
  var re_url = "<%= user_action_path %>";
  var item_id = $(this).data('item-id');
  var item_action = $(this).data('user-action');
  var re_data = {item: {item_id: item_id, perform_action: item_action}};
  $.ajax({
    method: "POST",
    url: re_url,
    data: re_data,
    dataType: "json",
    success: function(data) {
        if(data["success"] == true){
          $(".container").prepend('<div class="alert alert-success alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success!</strong>'+data["notice"]+'</div>');
          if(data["perform_action"] === "read"){
            $("tr.item_"+data["item_id"]+" a.classRead").addClass("disabled").html('<span class="glyphicon glyphicon-ok"></span> Read');
          } else{
            $("tr.item_"+data["item_id"]).remove();
          }
        } else{
          document.body.scrollTop = 0; // For Safari
          document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
          $(".container").prepend('<div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error!</strong>'+data["notice"]+'</div>');
        }
    },
    error: function(){
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      $(".container").prepend('<div class="alert alert-danger alert-dismissible fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error!</strong> There was some error in operation.</div>');
    }
  });
});

  $(".itemsPageNav").addClass("active");

</script>