
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 52%">Title</th>
      <th style="width: 12%">Upvotes</th>
      <th style="width: 12%">Comments</th>
      <th style="width: 12%">Read</th>
      <th style="width: 12%">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><a href="<%= item.url %>" target="_blank"><%= item.title %></a></td>
        <td class="text-center"><a href="<%= item.hacker_url%>" target="_blank"><%= item.upvotes %></a></td>
        <td class="text-center"><a href="<%= item.hacker_url%>" target="_blank"><%= item.comments %></a></td>
        <td><%= (item.ai_read.blank? || item.ai_read) ? "Mark as read" : "Read" %></td>
        <td>Mark Delete</td>
      </tr>
    <% end %>
  </tbody>
</table>